

.one {
    float:left;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    width: 800px;
    border-collapse: collapse;
    border-width: 5px;
    padding: 5px;
    border-style: solid;
    border-color: #a9c6c9;

}

.two {
    float: right;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    width: 300px;
    border-collapse: collapse;
    border-width: 5px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
/*    width: auto;*/

}

.table td.tdRight {
    text-align: right;

}
.table td.tdLeft {
    text-align: left;

}
.table td.tdCenter {
    text-align: center;

}

.table-nonfluid {
    width: auto;
}

table, th, td {
    border: 1px solid black;
}

/* Cells in even rows are same color */
tr:nth-child(even) td { background: #9acfea; }

/* Cells in odd rows are another color  */
tr:nth-child(odd) td { background: #b9def0; }

/*tr td:hover { background: #7ab5d3; color: black; } /* Hover cell effect! */

.contactformcontainer{
    width:100%;
    background-color: green;
}





