<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

<section class="loginsection">

    <span class="loginspan"></span>
    <h1 style="color:#0e90d2;">Login</h1>

    <form class="form--login" name="form" ng-submit="login()" role="form">
        <input class="logininput" type="text" name="username" id="username" ng-model="loginForm.username" required
               placeholder="UserName..." autocomplete="off"/>
        <input class="logininput" type="password" name="password" id="password" ng-model="loginForm.password" required
               placeholder="Password..."/>
        <button type="submit" class="btn btn-info" ng-disabled="disabled">Login</button>
    </form>

    </br>
    <a href="index.html#/register" class="btn btn-info" role="button" style="align: center">Register Here</a>
</section>








